.addImageButton {
    position: absolute;
    border-radius: 3px;
    background: #ffffff;
    top: 30px;
    right: 30px;
    display: flex;
    align-items: center;
    padding-inline: 16px;
    padding-block: 16px;
    cursor: pointer;
}

.icon {
    height: 15px;
    padding-right: 5px;
}

.imageContainer {
    width: 100%;
    height: 350px;
    overflow: hidden;
    position: relative;
}

.coverImage {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.programScreen {
    height: 100vh;
    width: 100%;
}

.mainSection {
    position: absolute;
    top: 200px;
    left: 30px;
    right: 30px;
    height: auto;
    box-sizing: border-box;
    border-radius: 5px;
    filter: drop-shadow(1px 1px 0.5px rgba(241,242,245,0.44 ));
    background: #ffffff;
    padding-bottom: 50px;
}

.header {
    width: 100%;
    height: 100px;
    border-bottom: 1px solid #e0e2e8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 30px;
}

.sectionLabel {
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    text-align: left;
    color: #696e7c;
}

.programName {
    display: flex;
    align-items: center;
}

.programNameText {
    padding-right: 5px;
    font-size: 32px;
    font-weight: normal;
    font-style: normal;
    text-align: left;
    color: #000000;
}

.iconEdit {
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eceef3;
    border-radius: 50%;
    cursor: pointer;
}

.iconSave {
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #aceca3;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 5px;
}

.dropdownMenu {
    display: block;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 8px 10px;
    z-index: 1;
    border-radius: 3px;
}

.dropdownButton {
    padding-left: 7px;
    padding-right: 5px;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    color: #222222;
}

.dropdownMenu li {
    padding: 3px 3px;
    text-decoration: none;
    display: block;
    color: black;
    cursor: pointer;
    border-radius: 3px;
}

.dropdownMenu li:hover {
    background-color: #ddd;
}

.statusText {
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    text-align: left;
    color: #222222;
}

.dropdownWithIcons {
    display: flex;

}


@media (max-width: 600px) {
    .mainSection {
        top: 140px;
        left: 0px;
        right: 0px;
    }
}


.tabBar {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #e0e2e8;
    margin-bottom: 50px;

}

.tab {
    margin: 0 10px;
    padding: 10px;
    cursor: pointer;
    border-bottom: 3px solid transparent;
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    height: 100%;
    color: #555555;
}

.tab.active {
    color: #175FFF;
    border-bottom: 3px solid #175FFF;
}

.tab.disabled {
    color: grey;
    opacity: 0.40;
    cursor: not-allowed;
}

.titleInput {
    display: flex;
    align-items: center;
    border-color: #e0e2e8;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    padding-inline: 5px;
}


@media (max-width: 600px) {
    .mainSection {
        top: 140px;
        left: 0px;
        right: 0px;
    }
}

@media (max-width: 600px) {
    .header {
        display: inline-table;
        height: 140px;
    }
}


